@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --board-border-color: white;
  --font-basic: 'Open Sans', sans-serif;
  --background: rgb(31, 31, 31);
  --button-enabled-bg-color: rgb(54, 54, 54);
  --button-hover-bg-color: rgb(209, 209, 209);
  --button-active-bg-color: rgb(255, 0, 0);
}

body {
  text-align: center;
  background-color: var(--background);
}

#buttons {
  text-align: center;
  margin: 80px 0;
}

button {
  margin: 10px 40px;
  padding: 10px;
  width: 130px;
  font-size: 16px;
  font-family: var(--font-basic);
  border-radius: 10%;
  background-color: var(--button-enabled-bg-color);
  color: white;
  border-color: white;
  cursor: pointer;
  transition: 0.5s;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  transition: 0.3s;
}

button:active {
  background-color: var(--button-active-bg-color);
}

button:hover:enabled {
  background-color: var(--button-hover-bg-color);
  color: black;
  width: 140px;
  transition: 0.5s;
}

#header {
  width: 100%;
  margin: 0;
  text-align: left;
  font-family: var(--font-basic);
  color: black;
  font-size: 45px;
  background-color: white;
}

#board {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  padding: 0;
}

.row {
  display: block;
  width: 100%;
}

.cell {
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
  margin: -4px;
  padding: 0;
  border-style: solid;
  border-color: rgb(138, 138, 138);
  font-family: var(--font-basic);
  font-weight: bold;
  color: whitesmoke;
  transition-property: background-color;
  transition: 300ms;
}

.cell-right-border {
  border-right-color: var(--board-border-color);
}

.cell-left-border {
  border-left-color: var(--board-border-color);
}

.cell-top-border {
  border-top-color: var(--board-border-color);
}

.cell-bottom-border {
  border-bottom-color: var(--board-border-color);
}

.static {
  background-color: black;
}

.active {
  background-color: rgb(69, 92, 221);
  color: white;
}

.visited {
  background-color: rgb(44, 58, 136);
}
