:root {
  --board-border-color: white;
}

body {
  text-align: center;
  background-color: rgb(31, 31, 31);
}

#board {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  padding: 0;
}

.row {
  display: block;
  width: 100%;
}

.cell {
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
  margin: -4px;
  padding: 0;
  border-style: solid;
  border-color: rgb(138, 138, 138);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: whitesmoke;
}

.cell-right-border {
  border-right-color: var(--board-border-color);
}

.cell-left-border {
  border-left-color: var(--board-border-color);
}

.cell-top-border {
  border-top-color: var(--board-border-color);
}

.cell-bottom-border {
  border-bottom-color: var(--board-border-color);
}

.static {
  background-color: black;
}

.active {
  background-color: rgb(0, 209, 35);
  color: black;
}

.visited {
  background-color: rgb(65, 65, 65);
}
