#board {
  text-align: center;
}

.row {
  display: block;
}

.cell {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: bisque;
  text-align: center;
  vertical-align: top;
}
