@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --size-divisor: 1;

  --font-basic: 'Open Sans', sans-serif;
  --fs-header: 2.5em;
  --fs-large: 1.4rem;
  --fs-mid: 1.1rem;
  --fs-small: 0.95rem;

  --white: rgb(214, 214, 214);
  --off-white: rgb(156, 156, 156);

  --off-black: rgb(32, 32, 32);
  --black: rgb(20, 20, 20);

  --button-enabled-bg-color: rgb(70, 70, 70);
  --button-hover-bg-color: rgb(209, 209, 209);
  --button-active-bg-color: rgb(255, 0, 0);
  --cell-border-color: rgb(138, 138, 138);
}

@media (max-width : 540px) {
  :root {
    --size-divisor: 2;
    --fs-header: 1.8rem;
    --fs-large: 1rem;
    --fs-mid: 0.7rem;
    --fs-small: 0.5rem;
  }
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  word-spacing: 0.48rem;
  letter-spacing: 0.3rem;
  background-color: var(--off-black);
  min-width: 100%;
}

#buttons {
  text-align: center;
  margin-bottom: 1.5rem;
}

button {
  margin: 1rem 1rem;
  padding: 0.5rem;
  width: 9rem;
  height: 4rem;

  font-size: var(--fs-mid);
  font-family: var(--font-basic);
  letter-spacing: 0.2rem;

  border-radius: 10%;
  background-color: var(--button-enabled-bg-color);

  color: var(--white);
  border-color: var(--off-white);

  cursor: pointer;

  transition: 0.5s;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  transition: 0.3s;
}

button:active {
  background-color: var(--button-active-bg-color);
}

@media (hover: hover) {
  button:hover:enabled {
    background-color: var(--button-hover-bg-color);
    color: var(--black);
    width: 9.8rem;
    transition: 0.5s;
  }
}

header {
  min-height: 6rem;
  margin: 0;
  padding-bottom: 0;
  padding-top: 2rem;
  text-align: center;
  font-family: var(--font-basic);
  font-size: var(--fs-header);
  font-weight: bolder;
  color: var(--white);
  background-color: var(--black);
}

.slidercontainer {
  width: 50%;
  margin: auto;
  font-family: var(--font-basic);
  font-size: var(--fs-small);
  font-style: italic;
  color: var(--off-white);
}

#difficultyMeter {
  width: 8rem;
  margin: auto;
}

#difficulty {
  display: inline-block;
  margin: 3rem 0 0 0;
  font-family: var(--font-basic);
  color: var(--off-white);
}

#board {
  margin: 1.5rem auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.row:nth-child(3n) {
  border-bottom: 0.2rem solid var(--white);
}

.row:nth-child(3n + 1) {
  border-top: 0.2rem solid var(--white);
}

.cell {
  height: calc(3.2rem / var(--size-divisor));
  width: calc(3.2rem / var(--size-divisor));
  text-align: center;
  border: 0.1rem solid var(--cell-border-color);
  font-size: var(--fs-large);
  font-family: var(--font-basic);
  font-weight: bold;
  color: var(--off-white);
  transition-property: background-color;
  transition: 300ms;
}

.cell:nth-child(3n) {
  border-right: 0.2rem solid var(--white);
}

.cell:nth-child(3n + 1) {
  border-left: 0.2rem solid var(--white);
}

.static {
  background-color: var(--black);
}

.active {
  background-color: rgb(69, 92, 221);
  color: var(--white);
}

.visited {
  background-color: rgb(44, 58, 136);
}

.star {
  width: 1.5rem;
  display: inline-block;
  padding: 0 0.2rem;
  margin: 1rem 0 0 0;
}

.extreme {
  fill: black;
  animation: shake 0.5s;
  animation-iteration-count: infinite; 
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
