@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --board-border-color: white;
  --cell-border-color: rgb(138, 138, 138);
  --font-basic: 'Open Sans', sans-serif;
  --background: rgb(31, 31, 31);
  --button-enabled-bg-color: rgb(54, 54, 54);
  --button-hover-bg-color: rgb(209, 209, 209);
  --button-active-bg-color: rgb(255, 0, 0);
}

body {
  text-align: center;
  margin: 0;
  background-color: var(--background);
}

#buttons {
  text-align: center;
  margin-bottom: 60px;
}

button {
  margin: 10px 40px;
  padding: 10px;
  width: 130px;
  font-size: 19px;
  font-family: var(--font-basic);
  border-radius: 10%;
  background-color: var(--button-enabled-bg-color);
  color: white;
  border-color: white;
  cursor: pointer;
  transition: 0.5s;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  transition: 0.3s;
}

button:active {
  background-color: var(--button-active-bg-color);
}

button:hover:enabled {
  background-color: var(--button-hover-bg-color);
  color: black;
  width: 140px;
  transition: 0.5s;
}

header {
  width: 100%;
  min-height: 100px;
  margin: 0;
  padding-bottom: 0;
  padding-top: 25px;
  text-align: center;
  font-family: var(--font-basic);
  color: white;
  font-size: 45px;
  background-color: rgb(17, 17, 17);
}

.slidercontainer {
  width: 50%;
  margin: auto;
}

#difficultyMeter {
  width: 500px;
  margin: auto;
}

#difficulty {
  display: inline-block;
  margin: 40px 0px 0 0;
  font-family: var(--font-basic);
  color: white;
}

.star {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 15px 0 0px 0;
}

#board {
  margin: 2em auto;
  width: 500px;
  height: 500px;
  border-spacing: 0;
  border-collapse: collapse;
}

.row:nth-child(3n) {
  border-bottom: 4px solid var(--board-border-color);
}

.row:nth-child(3n + 1) {
  border-top: 4px solid var(--board-border-color);
}

.cell {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid var(--cell-border-color);
  font-size: 25px;
  font-family: var(--font-basic);
  font-weight: bold;
  color: rgb(214, 214, 214);
  transition-property: background-color;
  transition: 300ms;
}

.cell:nth-child(3n) {
  border-right: 4px solid var(--board-border-color);
}

.cell:nth-child(3n + 1) {
  border-left: 4px solid var(--board-border-color);
}

.static {
  background-color: black;
}

.active {
  background-color: rgb(69, 92, 221);
  color: white;
}

.visited {
  background-color: rgb(44, 58, 136);
}
